/*FONT-FACE*/
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Thin.woff2") format("woff2"),
    url("../fonts/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraLight.woff2") format("woff2"),
    url("../fonts/Montserrat-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
    url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"),
    url("../fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"),
    url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/*CUSTOM-PROPS*/
:root {
  --bd-gb: #f2f2f2;
  --bg-blue: #a2a7f0;
  --white: #ffffff;
  --black: #4a4d60;
  --text-color: #6e728e;
}

/*GLOBAL*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
  color: var(--black);
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--bd-gb);
  background-image: url(../img/Group\ 10\ Copy.svg), url(../img/bg1.svg);
  background-position: left 0px bottom 0px, right 0px top 0px;
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/*UNIVERCAL*/

/*
    kichik - sm (small),
    o'rtacha - md (medium),
    katta - lg (large)
*/
.heading {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  padding-top: 70px;
  text-align: center;
  color: var(--text-color);
}

.text {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}
.text-sm {
  font-weight: 700;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
}
.text-md {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}
.text-lg {
  font-weight: 700;
  font-size: 72px;
  line-height: 71px;
  text-align: center;
}

.text-common {
  color: var(--text-color);
}
.text-white {
  color: var(--white);
}
.text-black {
  color: var(--black);
}

.button {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 15px 65px;
  margin: 0 auto;
  margin-top: 40px;
  letter-spacing: 1.5px;
  border-radius: 6px;
  border: transparent;
}
.button__white {
  color: var(--bg-blue);
  background-color: var(--white);
}
.button__blue {
  color: var(--white);
  background-color: var(--bg-blue);
}

/*HEADER*/
.button__header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
  margin-top: 40px;
}

/*INFORMATIONS*/
.informations {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  margin-top: 60px;
}
.informations__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px;
}
.basic {
  background-color: var(--white);
  border-radius: 10px 0px 0px 10px;
}
.professional {
  padding: 65px 30px;
  background-color: var(--bg-blue);
  border-radius: 10px;
}
.master {
  background-color: var(--white);
  border-radius: 0px 10px 10px 0px;
}
.informations__title {
  margin-bottom: 25px;
}
.price {
  width: 290px;
  padding-bottom: 30px;
  border-bottom: 2px solid var(--text-color);
}
.info {
  width: 290px;
  padding: 12px 0;
  border-bottom: 2px solid var(--text-color);
}
